#title {
    text-align: center;
    font-size: 42px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 550;
}

#container {
    position: relative;
    display: grid;
    box-sizing: border-box;
    width: 450px;
    height: 640px;
    border-radius: 18px;
    border: 2px solid;
    background-color:rgb(166, 166, 166);
    margin: auto;
    justify-items: center;
    padding: 20px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.15);
}

#window {
    position: relative;
    width: 400px;
    height: 125px;
    border-radius: 18px;
    border: 2px solid;
    background-color: whitesmoke;
    text-align: right;
}

.text {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
}

#input {
    font-size: 26px;
}

#keypad {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, auto);
    justify-items: center;
    gap: 12px;
}

#keypad > button {
    width: 90px;
    height: 75px;
    grid-column: span 2;
    border-radius: 18px;
    border: 2px solid;
    background-color: whitesmoke;
    font-size: 20px;
}

#keypad > .keypadTop {
    width: 195px;
    grid-column: span 4;
}

#keypad > button:hover {
    background-color: beige;
}